/* ==UserStyle==
@name	UnixSheikh Dark
@description	Dark theme for UnixSheikh blog
@namespace	https://github.com/Every0ne
@author	Every0ne
@version	1.0
@preprocessor	stylus
==/UserStyle== */

@-moz-document domain("unixsheikh.com") {
	body {
		color: #7d7d7d;
		background: #131313;
	}
	h1,h2,h3,h4,h5,h6 {
		color: #afafaf
	}

	.post-data {
		color: #7d7d7d;
	}

	.abstract {
		border-color:#c9ba9b55;
	}
	.info-yellow {
		color: #c9ba9be8;
		background-color: #fff3cd22;
		border-color: #c9ba9b55;
	}
	.info-blue {
		color: #b8daffcc;
		background-color: #cce5ff26;
		border-color: #b8daff55;
	}

	blockquote {
		color: #5f5f5f;
		padding: 1em 1em 1em 2em;
		border-color: #ffa50088;
		background-color: #06030055;
	}

	pre {
		color: #ccc;
		padding: 1em 1em 1em 2em;
		border-color: #444;
		background-color: #06030055;
	}

	a:visited {
		color: #00499d;
	}
}
